@model IEnumerable<Student>

    @* @($"{ViewBag.Student.FirstName} {ViewBag.Student.LastName}") *@
    @* @((ViewData["Student"] as Student)?.FirstName) *@

<a asp-action="AddStudent" class="btn btn-primary">Add student</a>

    <ul style="font-size: 2em">
    @foreach(var student in Model)
    {
        <li class="@(student.GPA < 3 ? "text-danger" : "")">

            @($"{student.FirstName} {student.LastName} {student.GPA}")

            <form asp-action="DeleteStudent" asp-route-id="@student.Id" method="post">
                @* <input value="@student.Id" type="hidden" name="id"/> *@
                <input type="submit" value="Delete" class="btn btn-outline-danger"/>
            </form>
            <a asp-action="UpdateStudent" asp-route-id="@student.Id">Edit</a>
        </li>
    }
    </ul>